@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: inherit;
  align-items: inherit;
}
.wrapper footer {
  height: 50px;
  width: 100%;
}

.reaction {
  color: hsl(0, 100%, 67%);
  background: hsla(0, 100%, 67%, 0.05) !important;
}

.memory {
  color: hsl(39, 100%, 56%);
  background: hsla(39, 100%, 56%, 0.05) !important;
}

.verbal {
  color: hsl(166, 100%, 37%);
  background: hsla(166, 100%, 37%, 0.05) !important;
}

.visual {
  color: hsl(234, 85%, 45%);
  background: hsla(234, 85%, 45%, 0.05) !important;
}

.result {
  padding: 0 10px;
  margin: 5px 0;
  font-size: 12px;
  letter-spacing: normal;
  font-weight: 700;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.result div, .result div > p {
  display: inline-block;
}
.result div:last-of-type {
  color: hsl(224, 30%, 27%);
}

.btn {
  margin-top: 30px;
  height: 40px !important;
  background: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background: linear-gradient(hsl(252, 100%, 67%) 0%, hsl(241, 81%, 54%) 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  font-stretch: expanded;
  letter-spacing: 0.1rem;
}

#card {
  height: 400px;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 30px;
  box-shadow: 5px 5px 30px -5px hsl(241, 100%, 89%);
}

#res-side {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(hsl(252, 100%, 67%) 0%, hsl(241, 81%, 54%) 100%);
  border-radius: 30px;
}
#res-side h4, #res-side p {
  color: hsl(241, 100%, 89%);
}
#res-side h1 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 10px;
}
#res-side p:last-of-type {
  width: 70%;
  font-size: 10px;
  text-align: center;
}

.point {
  height: 150px;
  width: 150px;
  background: linear-gradient(hsl(256, 72%, 46%) 0%, hsla(241, 72%, 46%, 0) 100%);
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: hsl(0, 0%, 100%);
  font-size: 30px;
}

#sum-side {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sum-side > * {
  width: 80%;
  height: 35px;
}
#sum-side h4 {
  text-align: left;
  color: hsl(224, 30%, 27%);
  margin-bottom: 30px;
}

.max {
  color: hsl(241, 100%, 89%) !important;
  font-size: 12px !important;
}

.icon {
  height: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*# sourceMappingURL=styles.css.map */
