@import 'utility.scss';
@import 'wrapper.scss';
@import 'restypes.scss';
@import 'button.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


body {
    height: 100dvh;
    width: 100dvw;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-stretch: expanded;
    letter-spacing: 0.1rem;
}

#card {
    height: 400px;
    width: 550px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $white;
    border-radius: 30px;
    box-shadow: 5px 5px 30px -5px $light-lavender;
}

#res-side {
    height: 100%;
    width: 50%;

    @include flex-col;

    background: $grad-back;
    border-radius: 30px;

    h4, p {
        color: $light-lavender;
    }
    h1 {
        color: $white;
        margin-bottom: 10px;
    }
    p:last-of-type {
        width: 70%;
        font-size: 10px;
        text-align: center;
    }
}

.point {
    height: 150px;
    width: 150px;
    background: $grad-circle;

    margin: 30px 0;

    @include flex-col;

    border-radius: 100%;

    color: $white;
    font-size: 30px;
}

#sum-side {
    height: 100%;
    width: 50%;

    @include flex-col;

    > * {
        width: 80%;
        height: 35px;
    }
    h4 {
        text-align: left;
        color: $dark-gray-blue;
        margin-bottom: 30px;
    }
}



.max {
    color: $light-lavender !important;
    font-size: 12px !important;
}

.icon {
    height: 15px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    a {
        color: hsl(228, 45%, 44%);
    }
}

@media (max-width: 375px) {
    main {
        height: 100dvh;
        width: 100dvw;
    }
    footer {
        display: none;
    }
    #card {
        height: 100dvh;
        width: 100dvw;

        flex-direction: column;
        border-radius: 0;
    }

    #res-side {
        height: 50%;
        width: 100%;

        border-radius: 0px 0px 30px 30px;
    }

    #sum-side {
        height: 50%;
        width: 100%;
    }
}